<footer class="footer-7">
  <div class="container-6 container-7">
    <div class="logo">
      <div class="company-logo-1">
        <svg class="frame-1-1" width="220" height="49">
          <use href="./img/icons.svg#icon-logo-footer"></use>
        </svg>
      </div>
    </div>
    <div class="credits">
      <div class="row-8 row-9">
        <p class="x2025-relume textsmallnormal">© 2025 Relume. Всі права захищені.</p>
      </div>
    </div>
    <nav class="column">
      <a href="#furniture" class="link">
        <div class="link-text-1 link-text-4 textregularnormal">Наші меблі</div>
      </a>
      <a href="#about" class="link">
        <div class="link-text-1 link-text-4 textregularnormal">Про нас</div>
      </a>
      <a href="#faq" class="link">
        <div class="link-text-1 link-text-4 textregularnormal">Часті питання</div>
      </a>
      <a href="#feedback" class="link">
        <div class="link-text-3 link-text-4 textregularnormal">Відгуки</div>
      </a>
    </nav>
    <div class="frame-264">
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
        <svg class="icon-1" width="24" height="24">
          <use href="./img/icons.svg#icon-youtube-footer"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <svg class="icon-1" width="24" height="24">
          <use href="./img/icons.svg#icon-instagram-footer"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <svg class="icon-1" width="24" height="24">
          <use href="./img/icons.svg#icon-facebook-footer"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>